.wrapper {
  font-size: 15px;
  width: 700px;
  margin: 50px auto;
  text-align: center;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

.fields {
  text-align: center;

}

.fieldrow {
  display: inline-block;
  text-align: center;
}

.field {
  display: table-cell;
}

.field>input[type="text"] {
  width: 150px;
  padding: 5px 2px;
  margin-right: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 0.9em;
}
.button {
  border: 1px solid #b8b8b8;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #fafafa;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

.add.button, .remove.button {
  width: 32px;
  height: 32px;
}

.submit.button {
  margin: 40px 0;
  width: 150px;
  height: 32px;
}

a {
  color: #369;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.field-output {
  display: block;
  margin: 6px auto;
  width: 60%;
  text-align: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0px 0px;
}